<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="test">
    <classes>
      <class name="test.Classtest1">
			<methods>
         	<include name="Demo"/>
			</methods>
      </class>
			<class name="test.Classtest2"/>
			<class name="test.Classtest4"/>
    </classes>
  </test> <!-- Test -->
<test name="Car Loan">
	<classes>
		<class name="test.Classtest3">
			<methods>
				<exclude name="MobileLiginCarLoan"/>
			</methods>

		</class> 
	</classes> 
</test>

</suite> <!-- Suite -->